<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <h1>Welcome to <%= title %></h1>
        <!-- Logout -->
        <a href="/"><button>Logout</button> </a>
        <hr />
        <!-- Editar nota form -->
        <form action="/u/<%= userID %>/<%= nota.id %>/edit" method="POST">
            <label for="titulo">Título</label>
            <input
                type="text"
                name="titulo"
                id="titulo"
                placeholder="Digite o título da anotação"
                value="<%= nota.titulo %>"
                autofocus
            />
            <br />

            <label for="mensagem">Mensagem</label>
            <input
                type="text"
                name="mensagem"
                id="mensagem"
                placeholder="Digite a mensagem da anotação"
                value="<%= nota.mensagem %>"
            />
            <input type="submit" value="Confirmar" />
            <a href='<%= "/u/"+userID+"/"+nota.id %>'
                ><button>Cancelar</button></a
            >
        </form>
    </body>
</html>
